# Assignment 1 data EDA

### Import libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import pyspark
import datetime
from utils.date_utils import generate_first_of_month_dates
import shutil
import glob

### Load raw data

In [3]:
loans = pd.read_csv("data/lms_loan_daily.csv")
clickstream = pd.read_csv("data/feature_clickstream.csv")
attributes = pd.read_csv("data/features_attributes.csv")
financial = pd.read_csv("data/features_financials.csv")

### initial EDA on loans

In [13]:
loans.tail()

,loan_id,Customer_ID,loan_start_date,tenure,installment_num,loan_amt,due_amt,paid_amt,overdue_amt,balance,snapshot_date
137495,CUS_0xffd_2024_03_01,CUS_0xffd,2024-03-01,10,6,10000,1000.0,1000.0,0.0,4000.0,2024-09-01
137496,CUS_0xffd_2024_03_01,CUS_0xffd,2024-03-01,10,7,10000,1000.0,1000.0,0.0,3000.0,2024-10-01
137497,CUS_0xffd_2024_03_01,CUS_0xffd,2024-03-01,10,8,10000,1000.0,1000.0,0.0,2000.0,2024-11-01
137498,CUS_0xffd_2024_03_01,CUS_0xffd,2024-03-01,10,9,10000,1000.0,1000.0,0.0,1000.0,2024-12-01
137499,CUS_0xffd_2024_03_01,CUS_0xffd,2024-03-01,10,10,10000,1000.0,1000.0,0.0,0.0,2025-01-01

In [80]:
loans.columns

Index(['loan_id', 'Customer_ID', 'loan_start_date', 'tenure',
       'installment_num', 'loan_amt', 'due_amt', 'paid_amt', 'overdue_amt',
       'balance', 'snapshot_date'],
      dtype='object')

In [81]:
loans.Customer_ID.nunique()

12500

In [ ]:
loans[loans.Customer_ID == 'CUS_0x1009']

,loan_id,Customer_ID,loan_start_date,tenure,installment_num,loan_amt,due_amt,paid_amt,overdue_amt,balance,snapshot_date
11,CUS_0x1009_2025_01_01,CUS_0x1009,2025-01-01,10,0,10000,0.0,0.0,0.0,10000.0,2025-01-01
12,CUS_0x1009_2025_01_01,CUS_0x1009,2025-01-01,10,1,10000,1000.0,1000.0,0.0,9000.0,2025-02-01
13,CUS_0x1009_2025_01_01,CUS_0x1009,2025-01-01,10,2,10000,1000.0,1000.0,0.0,8000.0,2025-03-01
14,CUS_0x1009_2025_01_01,CUS_0x1009,2025-01-01,10,3,10000,1000.0,1000.0,0.0,7000.0,2025-04-01
15,CUS_0x1009_2025_01_01,CUS_0x1009,2025-01-01,10,4,10000,1000.0,1000.0,0.0,6000.0,2025-05-01
16,CUS_0x1009_2025_01_01,CUS_0x1009,2025-01-01,10,5,10000,1000.0,1000.0,0.0,5000.0,2025-06-01
17,CUS_0x1009_2025_01_01,CUS_0x1009,2025-01-01,10,6,10000,1000.0,1000.0,0.0,4000.0,2025-07-01
18,CUS_0x1009_2025_01_01,CUS_0x1009,2025-01-01,10,7,10000,1000.0,1000.0,0.0,3000.0,2025-08-01
19,CUS_0x1009_2025_01_01,CUS_0x1009,2025-01-01,10,8,10000,1000.0,1000.0,0.0,2000.0,2025-09-01
20,CUS_0x1009_2025_01_01,CUS_0x1009,2025-01-01,10,9,10000,1000.0,1000.0,0.0,1000.0,2025-10-01
21,CUS_0x1009_2025_01_01,CUS_0x1009,2025-01-01,10,10,10000,1000.0,1000.0,0.0,0.0,2025-11-01

In [15]:
loans[loans.Customer_ID == 'CUS_0xffd']

,loan_id,Customer_ID,loan_start_date,tenure,installment_num,loan_amt,due_amt,paid_amt,overdue_amt,balance,snapshot_date
137489,CUS_0xffd_2024_03_01,CUS_0xffd,2024-03-01,10,0,10000,0.0,0.0,0.0,10000.0,2024-03-01
137490,CUS_0xffd_2024_03_01,CUS_0xffd,2024-03-01,10,1,10000,1000.0,1000.0,0.0,9000.0,2024-04-01
137491,CUS_0xffd_2024_03_01,CUS_0xffd,2024-03-01,10,2,10000,1000.0,1000.0,0.0,8000.0,2024-05-01
137492,CUS_0xffd_2024_03_01,CUS_0xffd,2024-03-01,10,3,10000,1000.0,1000.0,0.0,7000.0,2024-06-01
137493,CUS_0xffd_2024_03_01,CUS_0xffd,2024-03-01,10,4,10000,1000.0,1000.0,0.0,6000.0,2024-07-01
137494,CUS_0xffd_2024_03_01,CUS_0xffd,2024-03-01,10,5,10000,1000.0,1000.0,0.0,5000.0,2024-08-01
137495,CUS_0xffd_2024_03_01,CUS_0xffd,2024-03-01,10,6,10000,1000.0,1000.0,0.0,4000.0,2024-09-01
137496,CUS_0xffd_2024_03_01,CUS_0xffd,2024-03-01,10,7,10000,1000.0,1000.0,0.0,3000.0,2024-10-01
137497,CUS_0xffd_2024_03_01,CUS_0xffd,2024-03-01,10,8,10000,1000.0,1000.0,0.0,2000.0,2024-11-01
137498,CUS_0xffd_2024_03_01,CUS_0xffd,2024-03-01,10,9,10000,1000.0,1000.0,0.0,1000.0,2024-12-01
137499,CUS_0xffd_2024_03_01,CUS_0xffd,2024-03-01,10,10,10000,1000.0,1000.0,0.0,0.0,2025-01-01

In [22]:
loans.tenure.unique()

array([10])

In [20]:
loans.Customer_ID.unique()

array(['CUS_0x1000', 'CUS_0x1009', 'CUS_0x100b', ..., 'CUS_0xff6',
       'CUS_0xffc', 'CUS_0xffd'], shape=(12500,), dtype=object)

In [43]:
print(loans.loan_id.nunique())
print(loans.Customer_ID.nunique())
print(loans.shape)

12500
12500
(137500, 11)

In [23]:
print(loans.loan_start_date.min())
print(loans.loan_start_date.max())
print(loans.snapshot_date.min())
print(loans.snapshot_date.max())

2023-01-01
2025-01-01
2023-01-01
2025-11-01

In [76]:
loans.columns

Index(['loan_id', 'Customer_ID', 'loan_start_date', 'tenure',
       'installment_num', 'loan_amt', 'due_amt', 'paid_amt', 'overdue_amt',
       'balance', 'snapshot_date'],
      dtype='object')

### initial EDA on clickstream

In [24]:
clickstream.head()

,fe_1,fe_2,fe_3,fe_4,fe_5,fe_6,fe_7,fe_8,fe_9,fe_10,...,fe_13,fe_14,fe_15,fe_16,fe_17,fe_18,fe_19,fe_20,Customer_ID,snapshot_date
0,63,118,80,121,55,193,111,112,-101,83,...,-16,-81,-126,114,35,85,-73,76,CUS_0x1037,2023-01-01
1,-108,182,123,4,-56,27,25,-6,284,222,...,-14,-96,200,35,130,94,111,75,CUS_0x1069,2023-01-01
2,-13,8,87,166,214,-98,215,152,129,139,...,26,86,171,125,-130,354,17,302,CUS_0x114a,2023-01-01
3,-85,45,200,89,128,54,76,51,61,139,...,172,96,174,163,37,207,180,118,CUS_0x1184,2023-01-01
4,55,120,226,-86,253,97,107,68,103,126,...,76,43,183,159,-26,104,118,184,CUS_0x1297,2023-01-01

In [25]:
clickstream.columns

Index(['fe_1', 'fe_2', 'fe_3', 'fe_4', 'fe_5', 'fe_6', 'fe_7', 'fe_8', 'fe_9',
       'fe_10', 'fe_11', 'fe_12', 'fe_13', 'fe_14', 'fe_15', 'fe_16', 'fe_17',
       'fe_18', 'fe_19', 'fe_20', 'Customer_ID', 'snapshot_date'],
      dtype='object')

In [82]:
clickstream.Customer_ID.nunique()

8974

In [26]:
clickstream.shape

(215376, 22)

### initial EDA on attributes

In [27]:
attributes.columns

Index(['Customer_ID', 'Name', 'Age', 'SSN', 'Occupation', 'snapshot_date'], dtype='object')

In [28]:
attributes.shape

(12500, 6)

In [83]:
attributes.Customer_ID.nunique()

12500

In [29]:
print(attributes.head())

  Customer_ID            Name Age          SSN     Occupation snapshot_date
0  CUS_0x1000  Alistair Barrf  18  913-74-1218         Lawyer    2023-05-01
1  CUS_0x1009          Arunah  26  063-67-6938       Mechanic    2025-01-01
2  CUS_0x100b        Shirboni  19    #F%$D@*&8  Media_Manager    2024-03-01
3  CUS_0x1011       Schneyerh  44  793-05-8223         Doctor    2023-11-01
4  CUS_0x1013        Cameront  44  930-49-9615       Mechanic    2023-12-01

In [35]:
attributes.Customer_ID.nunique()

12500

In [77]:
attributes.Occupation.value_counts()

Occupation
_______          880
Lawyer           828
Architect        795
Engineer         793
Accountant       791
Scientist        789
Teacher          782
Media_Manager    780
Mechanic         780
Developer        780
Entrepreneur     776
Journalist       761
Doctor           760
Musician         741
Manager          736
Writer           728
Name: count, dtype: int64

### initial EDA on financials

In [37]:
financial.columns

Index(['Customer_ID', 'Annual_Income', 'Monthly_Inhand_Salary',
       'Num_Bank_Accounts', 'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan',
       'Type_of_Loan', 'Delay_from_due_date', 'Num_of_Delayed_Payment',
       'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Credit_Mix',
       'Outstanding_Debt', 'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'snapshot_date'],
      dtype='object')

In [41]:
loans[loans.Customer_ID == 'CUS_0x100b']

,loan_id,Customer_ID,loan_start_date,tenure,installment_num,loan_amt,due_amt,paid_amt,overdue_amt,balance,snapshot_date
22,CUS_0x100b_2024_03_01,CUS_0x100b,2024-03-01,10,0,10000,0.0,0.0,0.0,10000.0,2024-03-01
23,CUS_0x100b_2024_03_01,CUS_0x100b,2024-03-01,10,1,10000,1000.0,1000.0,0.0,9000.0,2024-04-01
24,CUS_0x100b_2024_03_01,CUS_0x100b,2024-03-01,10,2,10000,1000.0,1000.0,0.0,8000.0,2024-05-01
25,CUS_0x100b_2024_03_01,CUS_0x100b,2024-03-01,10,3,10000,1000.0,1000.0,0.0,7000.0,2024-06-01
26,CUS_0x100b_2024_03_01,CUS_0x100b,2024-03-01,10,4,10000,1000.0,1000.0,0.0,6000.0,2024-07-01
27,CUS_0x100b_2024_03_01,CUS_0x100b,2024-03-01,10,5,10000,1000.0,1000.0,0.0,5000.0,2024-08-01
28,CUS_0x100b_2024_03_01,CUS_0x100b,2024-03-01,10,6,10000,1000.0,1000.0,0.0,4000.0,2024-09-01
29,CUS_0x100b_2024_03_01,CUS_0x100b,2024-03-01,10,7,10000,1000.0,1000.0,0.0,3000.0,2024-10-01
30,CUS_0x100b_2024_03_01,CUS_0x100b,2024-03-01,10,8,10000,1000.0,1000.0,0.0,2000.0,2024-11-01
31,CUS_0x100b_2024_03_01,CUS_0x100b,2024-03-01,10,9,10000,1000.0,1000.0,0.0,1000.0,2024-12-01
32,CUS_0x100b_2024_03_01,CUS_0x100b,2024-03-01,10,10,10000,1000.0,1000.0,0.0,0.0,2025-01-01

In [39]:
financial.head()

,Customer_ID,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,snapshot_date
0,CUS_0x1000,30625.94,2706.161667,6,5,27,2,"Credit-Builder Loan, and Home Equity Loan",57,26,...,Bad,1562.91,30.077191,10 Years and 9 Months,Yes,42.941090,77.31427572208112,High_spent_Medium_value_payments,400.36080052211616,2023-05-01
1,CUS_0x1009,52312.68_,4250.390000,6,5,17,4,"Not Specified, Home Equity Loan, Credit-Builde...",5,18,...,_,202.68,40.286997,31 Years and 0 Months,Yes,108.366467,58.66019164829086,High_spent_Medium_value_payments,508.01234122645366,2025-01-01
2,CUS_0x100b,113781.38999999998,9549.782500,1,4,1,0,NaN,14,8,...,Good,1030.2,28.592943,15 Years and 10 Months,No,0.000000,617.0792665202719,High_spent_Small_value_payments,597.8989834797281,2024-03-01
3,CUS_0x1011,58918.47,5208.872500,3,3,17,3,"Student Loan, Credit-Builder Loan, and Debt Co...",27,13,...,Standard,473.14,27.829959,15 Years and 10 Months,Yes,123.434939,383.35084463651407,Low_spent_Medium_value_payments,294.1014665671429,2023-11-01
4,CUS_0x1013,98620.98,7962.415000,3,3,6,3,"Student Loan, Debt Consolidation Loan, and Per...",12,9,...,Good,1233.51,26.524864,17 Years and 10 Months,No,228.018084,332.3337079767732,High_spent_Medium_value_payments,485.8897083704929,2023-12-01

In [84]:
financial.Customer_ID.nunique()

12500

In [38]:
financial.shape

(12500, 22)

In [51]:
financial.Total_EMI_per_month.describe()

count    12500.000000
mean      1488.394291
std       8561.449910
min          0.000000
25%         31.496968
50%         72.887628
75%        169.634826
max      81971.000000
Name: Total_EMI_per_month, dtype: float64

In [52]:
financial.Num_of_Delayed_Payment.describe()

count     12500
unique      168
top          19
freq        735
Name: Num_of_Delayed_Payment, dtype: object

In [75]:
print(financial.Num_of_Loan.value_counts())

Num_of_Loan
3       1808
2       1769
4       1739
0       1287
1       1260
        ...
83         1
795        1
1074       1
1070       1
653        1
Name: count, Length: 87, dtype: int64

In [53]:
financial.dtypes

Customer_ID                  object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
snapshot_date                object
dtype: object

In [79]:
financial.Num_of_Delayed_Payment.value_counts()

Num_of_Delayed_Payment
19      735
16      692
10      690
17      683
18      682
       ...
758_      1
2585      1
1884      1
2222      1
2954      1
Name: count, Length: 168, dtype: int64

In [78]:
financial.Credit_Mix.value_counts()

Credit_Mix
Standard    4497
Good        3032
_           2611
Bad         2360
Name: count, dtype: int64